<h1>Hello, <%= "#{@user.first_name} #{@user.last_name}" %></h1>
<main class="dashboard">
  <section class="workers">
    <ul class="">
      
      <% @user.workers.each do |worker| %>
        <a href="/worker/<%= worker.id %>" class="href">
          <li>
            <p>Name: <%= "#{worker.first_name} #{worker.last_name}" %></p>
            <p>Worker Type: <%= worker.worker_type %></p>
            <p>Phone: <%= worker.phone %></p>
            <p>Location: <%= worker.city %></p>
            <p>Transport: <%= worker.transport %></p>
          </li>
        </a>
      <% end %>
    </ul>
  </section>

  <section class="clients">
    <ul class="">
      <% @user.clients.each do |client| %>
        <li>
          <a href="/client/<%= client.id %>" class="href">
            <h1>Client: <%= client.entity_name %></h1>
          </a>
          <% client.client_contacts.each do |contact|%>
          <h4>Contacts</h4>
          <ul>
            <li>
              <a href="/client_contact/<%= contact.id %>" class="href">
                <p><%= "#{contact.first_name} #{contact.last_name}" %></p>
                <p><%= contact.phone %></p>
              </a>
            </li>
          </ul>
          <% end %>
        </li>
      <% end %>
    </ul>
  </section>
</main>