<h1 class="section-title"><%= @client.name %></h1>
<div class="client-details">
  <div class="cl-con-container">
    <div class="client-contact-details">
      <p><%= @client.address1 %></p>
      <p><%= @client.city %></p>
      <p><%= @client.state %></p>
      <p><%= @client.post_code %></p>
      <p><%= @client.country %></p>
      <p>ABN: <%= @client.abn %></p>
    </div>
    <div class="client-rates">
      <h2 class="section-title">RATES</h2>
      <h3>Labour Rate: $<%= @client.labour_rate %></h3>
      <h3>Ticketed Rate: $<%= @client.ticketed_rate %></h3>
      <h3>Trade Rate: $<%= @client.trade_rate %></h3>
    </div>
  </div>
  <div class="client-det-btns">
    <a href="/clients/<%= @client.id %>/edit" class="button">Edit Client Details</a>
    <form action="/clients/<%= @client.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>Delete Client</button>
    </form>
  </div>
</div>

<% if @client.client_contacts %>
  <% @client.client_contacts.each do |contact| %>
    <a href="/client_contacts/<%= contact.id %>">
      <div class="cli-cont box">
        <h1 class="section-title"><%= contact.full_name %></>
        <p class="section-title"><%= contact.phone %></p>
      </div>
    </a>
  <% end %>
<% end %>
<div class="add-contact-btn">
  <a href="/client_contacts/new" class="add-contact button">Add Contact</a>
</div>  
