<h1 class="section-title">CURRENT PROJECTS</h1>
<% @projects.each do |project| %>
  <div class="project-container">
    <div class="project-details box">
      <h1><%= project.name %></h1>
      <h2>by <%= project.client.name %></h2>
      <% if project.client_contact %>
        <h3><%= "Site Contact: #{project.client_contact.full_name} - #{project.client_contact.phone}" %></h3>
      <% end %>
    </div>
    <div class="project-jobs">
      <h2 class="section-title">JOBS ON PROJECT</h2>
      <% if project.jobs %> 
        <% project.jobs.each do |job |%>
          <div class="proj-job box">
            <p><%= job.worker_type %></p>
            <p><%= job.start_date.strftime('%d/%m/%Y') %></p>
            <p><%= job.status.capitalize %></p>
          </div>
        <% end %>
      <% else %>
        <p> No Current Jobs</p>
      <% end %>
    </div>
  </div>
<% end%>