<div class="all-workers-list">
  <div class="list-container">
    <h1 class="section-title">Available Workers</h1>
    <section class="list-workers">
      <% @available.each do |worker|%>
        <a href="/workers/<%= worker.id %>">
          <div class="worker-list-item">
            <h3><%= "#{worker.full_name} - #{worker.phone}" %></h3>
            <h4><%= worker.worker_type %></h4>
          </div>
        </a>
      <% end%>
    </section>
  </div>

  <div class="list-container">
    <h1 class="section-title">Unvailable Workers</h1>
    <section class="list-workers">
      <% @unavailable.each do |worker|%>
        <a href="/workers/<%= worker.id %>">
          <div class="worker-list-item">
            <h3><%= "#{worker.full_name} - #{worker.phone}" %></h3>
            <h4><%= worker.worker_type %></h4>
          </div>
        </a>
      <% end%>
    </section>
  </div>
</div>

<div class="worker-types-list">
  <div class="list-container">
    <h1 class="section-title">Available Labourers</h1>
    <section class="list-workers a-lab">
      <% @avail_labourers.each do |worker|%>
        <a href="/workers/<%= worker.id %>">
          <div class="worker-list-item">
            <h3><%= "#{worker.full_name} - #{worker.phone}" %></h3>
            <h4><%= worker.worker_type %></h4>
            
          </div>
        </a>
      <% end%>
    </section>
  </div>

  <div class="list-container">
    <h1 class="section-title">Available Ticketed</h1>
    <section class="list-workers a-tic">
      <% @avail_ticketed.each do |worker|%>
        <a href="/workers/<%= worker.id %>">
          <div class="worker-list-item">
            <h3><%= "#{worker.full_name} - #{worker.phone}" %></h3>
            <h4><%= worker.worker_type %></h4>
          </div>
        </a>
      <% end%>
    </section>
  </div>

  <div class="list-container">
    <h1 class="section-title">Available Carpenters</h1>
    <section class="list-workers a-car">
      <% @avail_carpenters.each do |worker|%>
        <a href="/workers/<%= worker.id %>">
          <div class="worker-list-item">
            <h3><%= "#{worker.full_name} - #{worker.phone}" %></h3>
            <h4><%= worker.worker_type %></h4>
          </div>
        </a>
      <% end%>
    </section>
  </div>

